<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <%
    # In our real-world application, this is not what we want. Instead, we should
    # be checking to see if there is currently a user logged-in, and if there is,
    # we should show her a form that will allow her to send a tweet. If there is no
    # user logged-in, we should show the sign-in button.
  %>
  <% if session[:user_id] %>
    <div>
        <form id="tweetform_now" class="tweetform" action="/tweets" method="POST">
          <input id="tweet" type="text" name="tweet">
          <input id="submit" type="submit" value="Tweet Now!">
        </form>

        <form id="tweetform_later" class="tweetform" action="/tweets/later" method="POST">
          <input id="tweet" type="text" name="tweet">
          <input id="seconds" type="text" name="seconds">secs
          <input id="postpone" type="submit" value="Tweet Later!">
        </form>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
    <% if @jobStatus %>
     <p>Tweet Posted!</p>
     <% else %>
      <p>Still working!</p>
    <% end %>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

  <div>

  </div>  

</div>
